<div class="container" data-cy="u3dd86">

  <!-- Formulario para agregar o editar actividades -->
  <div *ngIf="actividadEditando; else agregar" class="form-container">
    <h3 data-cy="oWTz01">Editar Actividad</h3>
    <input data-cy="oWTz02" [(ngModel)]="actividadEditando.nombre" placeholder="Nombre de la actividad" class="input">
    <button data-cy="oWTz03" (click)="guardarEdicion()" class="btn btn-save">Guardar</button>
    <button data-cy="oWTz04" (click)="actividadEditando = null" class="btn btn-cancel">Cancelar</button>
  </div>

  <ng-template #agregar>
    <div class="form-container">
      <h3 data-cy="oWTzO5">Agregar Actividad</h3>
      <input data-cy="oWTzO6" [(ngModel)]="nuevaActividad" placeholder="Nombre de la actividad" class="input">
      <button data-cy="oWTzO7" (click)="agregarActividad()" class="btn btn-add">Agregar</button>
    </div>
  </ng-template>

  <!-- Lista de actividades -->
  <ul class="actividades-list">
    <li *ngFor="let actividad of actividades" class="actividad-item">
      <span data-cy="oWTz10">{{ actividad.nombre }}</span>
      <div class="actions">
        <button data-cy="oWTz11" (click)="editarActividad(actividad)" class="btn btn-edit">Editar</button>
        <button data-cy="oWTz12" (click)="eliminarActividad(actividad.id)" class="btn btn-delete">Eliminar</button>
      </div>
    </li>
  </ul>
</div>